/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: black;
  margin: 120px;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  margin: 0 auto;
  box-sizing: border-box;
}

.clearfix:after{
  display: block;
  content: " ";
  clear: both;
}

header {
  height: 50px;

}

#bar {
  color: white;
  display: inline-block;
  float: right;
}

#bar .container {
  display: inline-block;
}

#tagline {
  height: 30px;
  padding: 20px;
  background-color: grey;
  text-align: center;
  border-top: 3px;
  border-style: solid;
  border-color: yellow;
  margin-top: 30px;
}

.testing {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  color: black;
}

.logo {
  font-size: 30px;
  color: yellow;
  float: left;
}

.smallnavbar {
  font-size: 16px;
  float: right;
  margin: 10px;
}

.bignavbar {
  font-size: 18px;
  font-weight: bold;
  float: right;
  margin: 10px;
}


main {
  margin: 0 auto;
  height: 500px;
  background-image: url(../images/coworking.jpg);
  background-position: top center;
  background-size: cover;
}

main .container {
  float: right;
  opacity: 0.8;
  width: 350px;
  background-color: white;
  margin-top: 100px;
  margin-right: 20px;
  border-color: black;
  border: 5px;
}

.match {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding: 15px;
}

p {
  font-size: 15px;
  padding: 15px;
}

.buttonyellow {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  background-color: yellow;
  width: 250px;
  margin: 20px 35px 20px 35px;
  padding: 15px;
}

aside {
  background-color: white;
  display: block;
}

aside .container{
  display: inline-block;
  margin: 30px 50px 30px 50px;
}


.portion {
  display: inline-block;
  height: 70px;
  width: 170px;
  margin: 20px 50px 50px 50px;
  border-right: 1px;
  border-style: solid;
  border-color: grey;
  padding: 10px;
}

h4.option {
  font-size: 28px;
  font-weight: bold;
}

.portion > p {
  font-size: 16px;
}


.greybutton {
  border-radius: 5px;
  background-color: grey;
  font-weight: 800;
  padding: 12px 0;
  width: 200px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  display: block;
  margin: 0 auto;
}


footer {
  background: black;
  padding: 65px 0 45px;
  text-align: left;
  color: white;

}